services:
  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "8055:80"
    volumes:
      - ./site:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
